body{
    box-sizing: border-box;
    width: 0;
    height: 0;
}
header{
    
    height: 100x;
    background-color: #146bec;
}

/*header .titulo{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    width: 100px;

}*/